
<section id="contact">
    <div class="contact-box">
    <h2>Contact</h2>
    <p>
        <span class="contact-text">
      If you'd like to get in touch, feel free to email me at <br> <a href="mailto:tiborbudinsky@gmail.com">tiborbudinsky@gmail.com </a><br> or connect with me on social media:
    </span>
    </p>
    <ul>
      <li><a href="https://www.linkedin.com/in/tibor-budinsk%C3%BD-91ab56268/" target="_blank">LinkedIn</a></li>
      <li><a href="https://github.com/your-github-profile" target="_blank">GitHub</a></li>
    </ul>
</div>
  </section>